@using System
@using System.Diagnostics
@using System.Reflection
@using ICSharpCode.CodeConverter
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Code Converter | Progress Telerik</title>
	@RenderSection("head", required: false)

	<meta name="keywords" content="@Page.Keywords" />
	<meta name="description" content="@Page.Description" />
	<meta name="robots" content="index,follow">
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

	<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
	<link rel="stylesheet" href="~/Content/site.css" />
</head>
<body class="d-flex flex-column">
	<div class="navbar navbar-inverse">
		<div class="navbar-header">
			<a href="~/" class="navbar-brand"><img src="~/Images/logo.svg" alt="Code Converter Logo" /></a>
		</div>
	</div>
	<div class="body-content p-2 flex-100">
		@RenderBody()
		@{
			var versionInfo = HttpContext.Current.Cache["AssemblyVersionInformation"];
			if (null == versionInfo)
			{
				Assembly assembly = Assembly.GetAssembly(typeof(CodeConverter));
				FileVersionInfo fvi = FileVersionInfo.GetVersionInfo(assembly.Location);

				versionInfo = fvi.FileVersion;
				HttpContext.Current.Cache["AssemblyVersionInformation"] = versionInfo;
			}
		}
	</div>
	<footer class="font-size-s px-2 py-3">
		<div class="row mb-1">
			<div class="col col-xs-12">
				<a href="https://www.telerik.com">
					<img class="logo-footer" src="~/Images/logo-telerik.svg" alt="Progress Telerik" />
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<p class="m-0 mb-1">Copyright &copy; @DateTime.Now.Year, Progress Software Corporation and/or its subsidiaries or affiliates. All Rights Reserved.</p>
				<p class="m-0">Progress, Telerik, and certain product names used herein are trademarks or registered trademarks of Progress Software Corporation and/or one of its subsidiaries or affiliates in the U.S. and/or other countries. See <a href="https://www.progress.com/legal/trademarks">Trademarks</a> for appropriate markings.</p>
			</div>
			<div class="col-md-4 text-center text-md-right">
				<ul class="footer-list">
					<li><a class="text-white" href="~/Home/About">About</a></li>
					<li><a class="text-white" href="http://www.telerik.com/company/terms-of-use">Terms of Use</a></li>
					<li><a class="text-white" href="http://www.telerik.com/company/privacy-policy">Privacy Policy</a></li>
				</ul>
			</div>
		</div>
	</footer>
	<script src="~/Scripts/jquery-2.2.2.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/file-saver.js"></script>
	@RenderSection("scripts", required: false)
</body>
</html>
